################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Emirate/Emirate/obj/Debug/net6.0/Emirate.genruntimeconfig.cache
/Emirate/.vs/Emirate/config/applicationhost.config
/Emirate/.vs/Emirate/DesignTimeBuild/.dtbcache.v2
/Emirate/Emirate/bin/Debug/net6.0/Emirate.staticwebassets.runtime.json
/Emirate/Emirate/obj/Debug/net6.0/staticwebassets.development.json
/Emirate/Emirate/obj/Debug/net6.0/refint/Emirate.dll
/Emirate/Emirate/obj/Debug/net6.0/ref/Emirate.dll
/Emirate/Emirate/obj/Debug/net6.0/Emirate.csproj.FileListAbsolute.txt
/Emirate/Emirate/obj/Debug/net6.0/Emirate.dll
/Emirate/Emirate/bin/Debug/net6.0/Emirate.dll
/Emirate/Emirate/obj/Debug/net6.0/staticwebassets.build.json
*.vsidx
/Emirate/.vs/Emirate/FileContentIndex/6b68524c-d0fb-41e4-95dc-7ba7e7582bf3.vsidx
/Emirate/Emirate/obj/Debug/net6.0/staticwebassets.pack.json
/Emirate/Emirate/obj/Debug/net6.0/Emirate.pdb
/Emirate/.vs/Emirate/v17/.suo
/Emirate/Emirate/bin/Debug/net6.0/Emirate.pdb
/Emirate/Emirate/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
*.dll
/Emirate/Emirate/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/Emirate/Emirate/bin/Debug/net6.0/Emirate.deps.json
/Emirate/.vs/Emirate/FileContentIndex/61a73f80-df1b-4c80-a04d-f1526fd31dc2.vsidx
/Emirate/Emirate/obj/project.nuget.cache
/Emirate/Emirate/obj/project.assets.json
/Emirate/Emirate/obj/Emirate.csproj.nuget.dgspec.json
/Emirate/Emirate/obj/Debug/net6.0/project.razor.vs.json
/Emirate/Emirate/obj/Debug/net6.0/Emirate.GeneratedMSBuildEditorConfig.editorconfig
/Emirate/Emirate/obj/Debug/net6.0/Emirate.csproj.CoreCompileInputs.cache
/Emirate/Emirate/obj/Debug/net6.0/Emirate.csproj.AssemblyReference.cache
/Emirate/Emirate/obj/Debug/net6.0/Emirate.assets.cache
/Emirate/Emirate/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Emirate/.vs/ProjectEvaluation/emirate.projects.v6.1
/Emirate/.vs/Emirate/DesignTimeBuild/.dtbcache.v2
/Emirate/.vs/Emirate/FileContentIndex/0f2ce3d9-f9c3-40f6-a44c-de7a2a19ee00.vsidx
/Emirate/.vs/Emirate/FileContentIndex/64a3f7a2-deba-4852-b0fb-cb4da4582305.vsidx
/Emirate/.vs/Emirate/v17/.futdcache.v2
/Emirate/.vs/Emirate/v17/fileList.bin
*.1
/Emirate/Emirate/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/.vs/Emirate/DesignTimeBuild/.dtbcache.v2
/Emirate/.vs/Emirate/config/applicationhost.config
/Emirate/.vs/Emirate/config/applicationhost.config
/Emirate/.vs/Emirate/v17/fileList.bin
/Emirate/.vs/Emirate/v17/.suo
/Emirate/.vs/Emirate/v17/.futdcache.v2
/Emirate/.vs/ProjectEvaluation/emirate.projects.v6.1
/Emirate/.vs/ProjectEvaluation/emirate.metadata.v6.1
/Emirate/Emirate/obj/Debug/net6.0/ref/Emirate.dll
/Emirate/.vs/Emirate/DesignTimeBuild/.dtbcache.v2
/Emirate/.vs/Emirate/FileContentIndex/6b68524c-d0fb-41e4-95dc-7ba7e7582bf3.vsidx
/Emirate/.vs/Emirate/FileContentIndex/64a3f7a2-deba-4852-b0fb-cb4da4582305.vsidx
/Emirate/.vs/Emirate/FileContentIndex/61a73f80-df1b-4c80-a04d-f1526fd31dc2.vsidx
/Emirate/.vs/Emirate/FileContentIndex/0f2ce3d9-f9c3-40f6-a44c-de7a2a19ee00.vsidx
/Emirate/Emirate/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/dotnet-aspnet-codegenerator-design.dll
/Emirate/Emirate/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/Emirate/Emirate/bin/Debug/net6.0/Humanizer.dll
/Emirate/Emirate/bin/Debug/net6.0/Emirate.staticwebassets.runtime.json
/Emirate/Emirate/bin/Debug/net6.0/Emirate.pdb
/Emirate/Emirate/bin/Debug/net6.0/Emirate.dll
/Emirate/Emirate/bin/Debug/net6.0/Emirate.deps.json
/Emirate/Emirate/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/Emirate/Emirate/bin/Debug/net6.0/Microsoft.DotNet.Scaffolding.Shared.dll
/Emirate/Emirate/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/Emirate/Emirate/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Workspaces.dll
/Emirate/Emirate/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Features.dll
/Emirate/Emirate/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.dll
/Emirate/Emirate/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/Emirate/Emirate/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/Emirate/Emirate/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/Emirate/Emirate/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/Emirate/Emirate/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
/Emirate/Emirate/obj/Debug/net6.0/ref/Emirate.dll
/Emirate/Emirate/obj/Debug/net6.0/refint/Emirate.dll
/Emirate/Emirate/obj/project.assets.json
/Emirate/Emirate/obj/Emirate.csproj.nuget.dgspec.json
/Emirate/Emirate/obj/Debug/net6.0/staticwebassets.pack.json
/Emirate/Emirate/obj/Debug/net6.0/staticwebassets.development.json
/Emirate/Emirate/obj/Debug/net6.0/staticwebassets.build.json
/Emirate/Emirate/obj/project.nuget.cache
/Emirate/.vs/Emirate/v17/fileList.bin
/Emirate/.vs/Emirate/v17/.suo
/Emirate/.vs/Emirate/v17/.futdcache.v2
/Emirate/.vs/ProjectEvaluation/emirate.projects.v6.1
/Emirate/.vs/ProjectEvaluation/emirate.metadata.v6.1
/Emirate/Emirate/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Emirate/Emirate/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
