@model Emirate.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "AdminDashBoard";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}

<!-- Page Wrapper -->
<div class="container-fluid page-wrapper">

    <!-- Page Content -->
    <div class="content" style="margin-top: -89px;">

        <!-- Page Header -->
        <div class="page-header col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Welcome Admin!</h3>
                   
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Admin Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <!-- /Page Header -->
        
    @if (Model != null)
    {
        <div class="row m-1" id="admindsb-row-1">
            <div class="col-sm-12 col-xm-12 col-md-2 col-lg-2 col-xl-2 m-1 p-1">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-users" style="color:#999"></i></span>
                        <div class="dash-widget-info">
                            <h3>@Model.TotalApplicationUser</h3>
                            <span>No of students</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-xm-12 col-md-2 col-lg-2 col-xl-2 m-1 p-1">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-users" style="color:#999"></i></span>
                        <div class="dash-widget-info">
                            <h3>@Model.TotalApplicationUser</h3>
                            <span>New Students</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-xm-12 col-md- col-lg-2 col-xl-2 m-1 p-1">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-graduation-cap" style="color:#999"></i></span>
                        <div class="dash-widget-info">
                            <h3>0</h3>
                            <span>Professors</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-xm-12 col-md-2 col-lg-2 col-xl-2 m-1 p-1">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-users" style="color:#999"></i></span>
                        <div class="dash-widget-info">
                            <h3>0</h3>
                            <span>Staff</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row m-1" id="admindsb-row-1">
        @*<div class="row w-100" id="admindsb-row-2">*@
            <div class="col-sm-12 col-xm-12 col-md-3 col-lg-3 col-xl-3 m-2 p-2">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-home" style="color:#999"></i></span>
                        <div class="dash-widget-info">
                            <h3>@Model.TotalFaculty</h3>
                            <span>Faculties</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-xm-12 col-md-3 col-lg-3 col-xl-3 m-2 p-2">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-graduation-cap" style="color:#999"></i></span>
                        <div class="dash-widget-info">
                            <h3>@Model.TotalDepartment</h3>
                            <span>Departments</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-xm-12 col-md-3 col-lg-3 col-xl-3 m-2 p-2">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-info" style="color:#999"></i></span>
                        <div class="dash-widget-info">
                            <h3>0</h3>
                            <span>Library Information</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
   






