
@{
    ViewData["Title"] = "About";
}

<h1>About Emirate University College (E U C)</h1>

<div class="divabt mb-3">
    <h3>Objectiveo of Emirate University College</h3>

    The Objective of the University shall be to advance Knowledge,
    Wisdom and Understanding by teaching and research with the
    ultimate purpose of service to the society.
</div>

<div id="abt1" class="text-primary">
    <bold><p>Giving Our Best To The Society</p></bold>
</div>

<div class="row mt-3">
    <div class="col">
        <h2>Our Vision</h2>

        To establish a model Institution of Higher learning which ranks
        among the best in the world and responsive to the creative and
        Innovative abilities of the Nigerian people.

        To be premier university in Africa in capacity development
        that promotes services to the society through quality teaching,
        research and community service.
    </div>

    <div class="col">
    
       <img src="/images/teaching.jpg" style="width:100%; height: 100%;">
    
    </div>

    <div class="col">
       <img src="/images/teach 2.jpg" style="width:100%; height: 100%;">
    </div>
</div>


<div class="row mt-3">
    <div class="col">
        <h2>Our Mission</h2>

        To develop the Human mind to be creative, Innovative, 
        competent in areas of specialization, Knowledgeable in
        Entrepreneur and dedicated to service.

        To promote scholarship, especially in the areas of Science,
        Management and Technology,
        thereby ensuring the development of quality manpower that
        will utilize technology for the service of society.

        The University’s policies which are founded on the principles of fairness and equity,
        in the task of producing graduates who are worthy in learning and character,
        stem from the objectives, vision and mission of the University.
    </div>

    <div class="col">
        <img src="/images/std1.jpg" style="width:100%; height: 100%;">
    </div>

    <div class="col">
        <img src="/images/stud2.jpg" style="width:100%; height: 100%;">
    </div>
</div>



