
@{
    ViewData["Title"] = "Admission";
}

<div id="admdiv">
    <h1>Why Choose Our Institution</h1>

    <p>If you have ever desired an institution that is dedicated to
    the growth of technological education with state-of-the-art
    facilities and infrastructure, then the 
    is the place to be. We are delighted to welcome you to a top
    institution with a drive to effect positive academic,
    technological and socioeconomic changes in Nigeria.
    </P>
</div>

<div>
    <h1 id="admh1">APPLICATION NOTICE</h1>

    <p>Sale of Admission form for 2023/2024 Academic
    session is starting on 16th Sept 2023.
    </p>

    <h2 id="admh2">ADMISSION POLICY AND REQUIREMENTS</h2>

   <p>
    Application for entry into the school starts December and
    ends January the next year. The students are admitted
    through a three- stage process;
    </p>

     <p>1. The prospective students first sit the Schools Common
    Entrance Examination conducted by TEDRO (WAEC) Ogba, Lagos.
    This takes place around April each year. Individuals from
    16 years of age are eligible to sit for the entrance examination.
    </p>

    <p>2. Successful candidates on invitation for interview sit
     for written examination and
    </p>

    <p> 3. Oral interview after which the 60 (sixty) candidates
    for each selection are offered provisional admission in
    order of performance. A waiting list of 3-5 is usually
    maintained for candidates who tie, and vacancies filled
    one week after resumption. The interview takes place
    around June each year and the successful candidates start
    academic activities in september/October. The candidates must have had full
    secondary education with 5 (five) credit passes in English Language,
    Mathematics, Biology, Physics and Chemistry at not more than two sittings.
    The parent or the guardian of the successful applicant is required to give
    a written consent and assurance that it is the family’s intention to
    encourage the candidate to complete her course satisfactorily.
    Intake of students is once a year. School fees are not static.
    They are subject to review by the school management.
    Students do not pay tuition fees.
    </p>
</div>
