@{
    ViewData["Title"] = "E U C Departments";
}
<h1>@ViewData["Title"]</h1>

<div></div>

<div class="container" id="dept">

    <div class="row mt-4">
        <div  class="col">
            <h2>Agric, Forestry & Wildlife Resource Management</h2>
            <p>The Faculty of Agriculture, Forestry and Wildlife Resource Management
            is considered to be the pride of the University of Calabar having
            produced two Vice Chancellors.<span id="dots">...</span><span id="more">The faculty has 8 read more
            Departments that run high-quality undergraduate and postgraduate programs.
            It is equipped with modern facilities including different farms 
            that enhance the teaching and learning, and acquisition of practical
            experiences of students and their partners.</span>

                <button id="btn" onclick="MoreLess()">Read More</button>
            </p>
           
            
            <a href="#"><strong> Animal Science </strong></a><br />
            <a href="#"><strong>Agric Economics  </strong></a><br />
            <a href="#"><strong> Agricultural Extension & Rural Sociology</strong> </a><br />
            <a href="#"><strong> Crop Science </strong> </a><br />
            <a href="#"><strong>Fisheries & Aquaculture </strong> </a><br />
            <a href="#"><strong>Food Science & Technology </strong> </a><br />
            <a href="#"><strong>Forestry & WildLife Resource Management </strong> </a> <br />
            <a href="#"><strong>Soil Science </strong> </a>
           
        </div>
        <div class="col">
            <h2> Allied Medical Science</h2>

            <p>The Faculty of Allied Medical Sciences is deeply committed
            to quality teaching and training of allied health workers
            comprising nurses, physiotherapists, public health workers,
            and radiographers.
            <br />

                <a href="#"><strong>Radiography & Radiological Sciences </strong> </a><br />
            <a href="#"><strong>Nursing Sciences </strong> </a><br />
            <a href="#"><strong>Public health </strong> </a> <br />
            <a href="#"><strong>Physiotherapy </strong> </a>
            
        </div>
        <div class="col">
            <h2>Arts</h2>

            The Faculty of Arts has 10 Departments (English and Literary Studies, 
            Fine and Applied Arts, History and International Studies, Linguistics 
            and Nigerian Languages.<br />

            <a href="#"><strong>English & Literary Studies </strong></a> <br />
            <a href="#"><strong>History & International Studies</strong> </a><br />
            <a href="#"><strong>Linguistics & Nigerian Languages </strong></a><br />
            <a href="#"><strong>Mass Communication</strong> </a><br />
            <a href="#"><strong>Modern Languages & Translation Studies </strong></a><br />
            <a href="#"><strong>Music </strong></a><br />
            <a href="#"><strong>Philosophy </strong></a><br />
            <a href="#"><strong>Religious & Cultural Studies </strong></a><br />
            <a href="#"><strong>Theatre & Media Studies </strong></a>
            </div>

        <div class="row mt-4">
                <div class="col">
                <img src="/images/wildlife.jpg" style="height:100%; width: 100%" />
                </div>
                <div class="col">
                    <img src="/images/allied health.jpg" style="height:100%; width: 100%" />
                </div>
                <div class="col">
                    <img src="/images/lec.jpg" style="height:100%; width: 100%" />
                </div>
            </div>
        
    </div>
    

    <div class="row mt-4">
        <div class="col">
            <h2>Arts and Social Science Education</h2>

            The Faculty of Arts and Social Science Education was approved
            by Senate to commence academic activities in the University in
            2021 with five Departments consisting of Arts Education. <br />

            <a href="#"><strong>Arts Education </strong></a><br />
            <a href="#"><strong>Continuing Education And Development </strong></a><br />
            <a href="#"><strong>Environmental Education </strong></a><br />
            <a href="#"><strong> Library and Information Science </strong></a><br />
            <a href="#"><strong>Social Science Education </strong></a> <br />
        </div>
        <div class="col">

            <h2>Basic Medical Sciences</h2>

            TThe Faculty of Basic Medical Science is a highly ranked
            faculty with 5 Departments that run high-quality undergraduate
            and postgraduate programs. The Departments are <br />

            <a href="#"><strong> Biochemistry</strong> </a><br />
            <a href="#"><strong> Physiology</strong> </a><br />
            <a href="#"><strong> Pharmacology </strong></a><br />
            <a href="#"><strong> Human Anatomy </strong></a><br />
            <a href="#"><strong>Human Nutrition & Dietetics </strong></a>
           
        </div>
        <div class="col">
            <h2> Basic Clinical Sciences</h2>

            The Faculty of Basic Clinical Science started rolling out academic programs 
            in 2021 with 5 Departments consisting of Hematology and Blood Transfusion,
            Chemical Pathology and Immunology.<br />

            <a href="#"><strong>Haematology & Blood Transfusion </strong></a><br /><br />
            <a href="#"><strong>Chemical Pathology and Immunology </strong></a><br />
            <a href="#"><strong>Medical Microbiology and Parasitology </strong></a><br />
            <a href="#"><strong>Pathology </strong></a><br />
            <a href="#"><strong>Pharmacology and Therapeutics </strong></a>
            
        </div>
        <div class="row mt-4">
            <div class="col">
                <img src="/images/stlect.webp" style="height:100%; width: 100%" />
            </div>
            <div class="col">
                <img src="/images/basiec med.jpg" style="height:100%; width: 100%" />
            </div>
            <div class="col">
                <img src="/images/Silab.jpg" style="height:100%; width: 100%" />
            </div>
        </div>

    </div>


    <div class="row mt-4">
        <div class="col">
            <h2>Biological Sciences</h2>
            There are 5 Departments in the Faculty of Biological Sciences. 
            The Departments consisting of Genetics and Biotechnology,
            Microbiology, Plant and Ecological Studies, and ... <br />

            <a href="#"><strong>Genetics & Biotechnology </strong></a><br />
            <a href="#"><strong>Microbiology </strong></a><br />
            <a href="#"><strong>Plant & Ecological Studies </strong></a><br />
            <a href="#"><strong>Science Lab Technology </strong></a> <br />
            <a href="#"><strong>Zoology & Environmental Biology</strong> </a>
        </div>

        <div class="col">
            <h2> College Of Medical Sciences</h2>
            
            Be part of a faculty with an exceptional reputation for developing 
            the world’s finest health sciences professionals addressing issues 
            affecting our communities... <br />

            <a href="#"><strong>Allied Medical Sciences </strong></a><br />
            <a href="#"><strong>Basic Clinical Sciences </strong></a><br />
            <a href="#"><strong>Basic Medical Sciences </strong></a><br />
            <a href="#"><strong>Bloodless Surgery </strong></a><br />
            <a href="#"><strong>Dentistry </strong></a><br />
            <a href="#"><strong>Medicine </strong></a>
        </div>
        <div class="col">
            <h2> Clinical Sciences</h2>

            The Faculty of Clinical Sciences is a highly respected centre
            for excellent and professional training in clinical sciences 
            and holds a rare distinction of being the home of clinical
            training and practice in Nigeria...<br />

            <a href="#"><strong>Anaethesiology </strong></a><br />
            <a href="#"><strong>Community Medicine </strong></a><br />
            <a href="#"><strong>Family Medcine</strong> </a><br />
            <a href="#"><strong>Internal medcine</strong> </a> <br />
            <a href="#"><strong>Obstetrics and Gynaecology</strong> </a>
           
        </div>

        <div class="row mt-4">
            <div class="col">
                <img src="/images/bio.jpg" style="height:100%; width: 100%" />
            </div>
            <div class="col">
                <img src="/images/labm.jpg" style="height:100%; width: 100%" />
            </div>
            <div class="col">
                <img src="/images/commed.webp" style="height:100%; width: 100%" />
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class ="col">
            <h2> Dentistry</h2>
            The Faculty of Dentistry is a fairly young faculty with five Departments.
            The faculty has grown rapidly and is now recognized as the centre to 
            beat in dental practice in Nigeria.<br />

            <a href="#"><strong> Child Dental Health </strong></a> <br />
            <a href="#"><strong> Oral / Maxillofacial Surgery </strong></a><br />
            <a href="#"><strong> Oral Pathology & Oral Medicine </strong></a><br />
            <a href="#"><strong> Preventive Dentistry </strong></a><br />
            <a href="#"><strong> Restorative Dentistry </strong></a>
            
        </div>

        <div class="col">
            <h2> Educational Foundation Studies</h2>

            The Faculty of Arts and Social Science Education was approved by
            Senate to commence academic activities in the University in 2021 
            with five Departments... <br />

            <a href="#"><strong> Curriculum & Teaching </strong></a>
            <a href="#"><strong> Educational Management </strong></a>
            <a href="#"><strong> Educational Foundation </strong></a>
            <a href="#"><strong> Guidance & Councelling </strong></a>
            <a href="#"><strong> Special Education </strong></a>
  
        </div>
        <div class="col">
            <h2>  Engineering & Technology</h2>
            The Faculty of Engineering and Technology is a young faculty
            with 7 Departments. It is poised to be a centre that will be
            producing the highest quality graduates... <br />

            <a href="#"><strong> Agric & Bioresource Engineering</strong> </a><br />
            <a href="#"><strong> Chemical Engineering</strong> </a><br />
            <a href="#"><strong>  Civil & Environmental Engineering</strong> </a><br />
            <a href="#"><strong> Computer Engineering </strong></a><br />
            <a href="#"><strong>  Electrical & Electronics Engineering </strong></a><br />
            <a href="#"><strong>  Mechanical Engineering </strong></a><br />
            <a href="#"><strong>  Petroleum Engineering </strong></a>
        </div>
        <div class="row mt-4">
            <div class="col">
                <img src="/images/dentist.webp" style="width:100%; height:100%" />
            </div>
            <div class="col">
                <img src="/images/teachtrain.jpg" style="width:100%; height:100%" />
            </div>
            <div class="col">
                <img src="/images/engr st.jpg" style="width:100%; height:100%" />
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <h2>Environmental Sciences</h2>
            The Faculty of Environmental Sciences at the Emirate University College
            is a young and young faculty with 6 Departments. It is fast-growing 
            faculty that has been adequately empowered to become a ... <br />

            <a href="#"><strong> Architecture</strong> </a><br />
            <a href="#"><strong> Environmental Resource Management</strong> </a><br />
            <a href="#"><strong> Estate Management and Valuation</strong> </a><br />
            <a href="#"><strong> Geography & Environmental Science</strong> </a><br />
            <a href="#"><strong>Survey & Geoinformatics </strong></a><br />
            <a href="#"><strong> Urban and Regional Planning </strong></a>
           
        </div>
        <div class="col">
            <h2>Law</h2>
            The Faculty of Law is a very vibrant Faculty that have produced
            men and women, who have become models in the legal profession.
            The faculty has 4 Departments that offer ... <br />

            <a href="#"><strong>Commercial / Industrial Law </strong></a><br />
            <a href="#"><strong>Private Law </strong></a><br />
            <a href="#"><strong>Public Law </strong></a><br />
            <a href="#"><strong>Jurisprudent & International Law</strong> </a>
           
        </div>
        <div class="col">
            <h2> Management Sciences</h2>
            The faculty has 5 departments and is globally recognized as
            the training base for professionals in accounting, management, 
            marketing, administrators, and the banking profession. <br />

            <a href="#"><strong>Accounting </strong></a><br />
            <a href="#"><strong>Banking & Finance</strong> </a><br />
            <a href="#"><strong>Business Management </strong></a><br />
            <a href="#"><strong>Marketing </strong></a><br />
            <a href="#"><strong>Public Administration</strong> </a>
        </div>

        <div class="row mt-4">
            <div class="col">
                <img src="/images/geoinfo.jpeg" style="width:100%; height:100%" />
            </div>
            <div class="col">
                <img src="/images/lawst2.jpeg" style="width:100%; height:100%" />
            </div>
            <div class="col">
                <img src="/images/mgt sc std.webp" style="width:100%; height:100%" />
            </div>
        </div>
    </div>
   
    <div class="row mt-4">
        <div class="col">
            <h2> Oceanography</h2>
            The Faculty of Oceanography has only 2 Departments and is reputed
            to be a global centre for quality training and research in all aspects 
            of marine sciences. <br />

            <a href="#"><strong>Biological Oceanography</strong> </a><br />
            <a href="#"><strong>Physical Oceanography</strong> </a>
           
        </div>
        <div class="col">
            <h2>  Medical Lab Science</h2>
            The faculty is a young and vibrant faculty that was created in 2021
            with 5 departments after Senate permitted it to do so. It is poised 
            to become a centre where the world’s ... <br />

            <a href="#"><strong> Haematology and Blood Transfusion Sciences </strong></a><br />
            <a href="#"><strong> Histopathology and Cytology </strong></a><br />
            <a href="#"><strong>Medical Bacteriology, Virology and Mycology</strong> </a><br />
            <a href="#"><strong> Clinical Chemistry And Immunology</strong> </a>
            
        </div>
        <div class="col">
            <h2>Pharmacy</h2>

            The Faculty of Pharmacy is a young faculty that started academic
            activities with 7 Departments in 2021 after securing approval from 
            the Senate of the University... <br />

            <a href="#"><strong> Pharmaceutics & Pharmaceutical Technology</strong> </a><br />
            <a href="#"><strong> Clinical Pharmacy & Pharmacy Administration</strong> </a><br />
            <a href="#"><strong> Pharmacognosy & Traditional Medcine </strong></a><br />
            <a href="#"><strong>Pharmaceutical & Medicinal Chemistry </strong></a><br />
            <a href="#"><strong>Pharmaceutical Micro Biology & Biotechnology</strong> </a><br />
            <a href="#"><strong> Social and Administrative Pharmacy</strong> </a>
           
        </div>
        <div class="row mt-4">
            <div class="col">
                <img src="/images/oceano.jpg" style="width:100%; height:100%" />
            </div>
            <div class="col">
                <img src="/images/lab.JPG" style="width:100%; height:100%" />
            </div>
            <div class="col">
                <img src="/images/pharm3.jpg" style="width:100%; height:100%" />
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <h2> Physical Sciences</h2>
            The Faculty of Physical Sciences is a leading centre for quality
            training and research in sciences in Sub-Saharan Africa. 
            It has five 6 departments consisting of Computer Science...<br />

            <a href="#"><strong>Computer Science</strong></a><br />
            <a href="#"><strong>Geology</strong> </a><br />
            <a href="#"><strong> Mathematics</strong> </a><br />
            <a href="#"><strong> Physics </strong></a><br />
            <a href="#"><strong> Pure & Applied Chemistry</strong> </a><br />
            <a href="#"><strong>Statistics</strong> </a>

        </div>
        <div class="col">
            <h2>Social Sciences</h2>
            This Faculty of Social Sciences is a leading centre for quality training
            and research in Economics, Political Science, Social Work, Sociology, 
            and Tourism Studies in Nigeria.<br />

            <a href="#"><strong>Economics</strong> </a><br />
            <a href="#"><strong>Political Science</strong> </a><br />
            <a href="#"><strong>Social Work </strong></a><br />
            <a href="#"><strong>Sociology</strong> </a><br />
            <a href="#"><strong>Tourism Studies</strong> </a>
            

        </div>
        <div class="col">
            <h2>Vocational and Science Education</h2>
            The Faculty of Arts and Social Science Education was approved by
            Senate to commence academic activities in the University in 2021
            with 3 Departments including Science Education...
           
            <a href="#"><strong>Educational Foundation</strong> </a><br />
            <a href="#"><strong>Human Kinetics & Health Education</strong></a><br />
            <a href="#"><strong>Science Education</strong></a><br />
            <a href="#"><strong>Vocational Education</strong></a>

        </div>
        <div class="row mt-4">
            <div class="col">
                <img src="/images/physical scieces.jpg" style="width:100%; height:100%" /> />
            </div>
            <div class="col">
                <img src="/images/social sc.jpg" style="width:100%; height:100%" />
            </div>
            <div class="col">
                <img src="/images/science.jpg" style="width:100%; height:100%" />
            </div>
        </div>

    </div>

</div>







<script>
    function MoreLess(){
        var dots = document.getElementById("dots");
        var moreText=document.getElementById("more");
        var btnText= document.getElementById("btn");
        if(dots.style.display ==="none"){
            dots.style.display="inline";
            btnText.innerHTML = "Read More";
            moreText.style.display = "none";
        }else{
            dots.style.display= "none";
            btnText.innerHTML="Read Less";
            moreText.style.display = "inline"
        }
    }
</script>