@model IEnumerable<Emirate.Models.ApplicationUser>

				<!--carousel-->

	<div class="carousel slide m-0" data-bs-ride="carousel" id="emuc">

		<ul class="carousel-indicators">
			<li class="active" data-target="#emuc" data-slide-to="0"></li>
			<li data-target="#emuc" data-slide-to="1"></li>
			<li data-target="#emuc" data-slide-to="2"></li>
			<li data-target="#emuc" data-slide-to="3"></li>
		</ul>

		<div class="conainer-sm carousel-inner">
			<div class="carousel-item active">
				<img src="images/R.jpg" alt="school img" height="400" width="1200">
				<div class="carousel-caption" id="cap">
					<h1>EMIRATE UNIVERSITY COLLEGE</h1>
					<p><i>Preferred University of Excellence</i></p>
				</div>
			</div>

			<div class="carousel-item">
				<img src="images/bd3.jpg" alt="school env1" height="400" width="1200">
				<div class="carousel-caption" id="cap">
					<h1>EMIRATE UNIVERSITY COLLEGE</h1>
					<p><i>Preferred University of Excellence</i></p>
				</div>
			</div>

			<div class="carousel-item">
				<img src="images/unybd.jpg" alt="school environ" width="1200" height="400">
				<div class="carousel-caption" id="cap">
					<h1>EMIRATE UNIVERSITY COLLEGE</h1>
					<p><i>Preferred University of Excellence</i></p>
				</div>
			</div>

			<div class="carousel-item">
				<img src="images/bd11.jpg" alt="school env2" height="400" width="1200">
				<div class="carousel-caption" id="cap">
					<h1>EMIRATE UNIVERSITY COLLEGE</h1>
					<p><i>Preferred University of Excellence</i></p>
				</div>
			</div>
		</div>

		 <a href="#emuc" class="carousel-control-prev" role="button"  data-slide="prev">
				<scan class="carousel-control-prev-icon"></scan>
			</a>
			<a href="#emuc" class="carousel-control-next" role="button" data-slide="next">
				<scan class="carousel-control-next-icon"></scan>
			</a>
		</div>

		<div id="text" class="container mt-3">
		<p class="lead"><strong>If you’re looking for a college, undergraduate, or postgraduate course taught in smaller teaching cohorts allowing for more personalised teaching, University College Birmingham may be the place for you.</strong></p>

		<p>Winning the University of the Year and Best Student Support at the 2022 Whatuni Student Choice Awards – the only UK awards voted for by students – we specialise in degrees like nursing and computing, as well as finance and accounting, sport, education, tourism, hospitality and creative services. Recently, we expanded our portfolio into STEM subjects such as sustainable engineering and construction.</p>

		<p>A wide range of our higher education courses are accredited by the University of Warwick, a prestigious Russell Group university ranked 8th in the UK by The Guardian 2023 league table.</p>
	</div>
	<br>

		<div class="container-fluid">
		<div class="row">
			<div class="col mt-2">
				<h4>Students</h4>
				<img src="images/std.jpg" style="width:100%; height: 100%;">
			</div>

			<div class="col mt-2">
				<h4>Faculty</h4>
				<img src="images/hall.jpg" style="width:100%; height: 100%;">
			</div>

			<div class="col mt-2">
				<h4>Classroom</h4>
				<img src="images/lecturehall.jpg" style="width:100%; height: 100%;">
			</div>
		</div>
	</div>

		<div class="container">
		<div class="row">

			<div class="col-sm-3 mt-5" style="background-color: #efddee;">
					<p>Winning the University of the Year and Best Student Support at the 2022 Whatuni Student Choice Awards – the only UK awards voted for by students – we specialise in degrees like nursing and computing, as well as finance and accounting, sport, education, tourism, hospitality and creative services. Recently, we expanded our portfolio into STEM subjects such as sustainable engineering and construction</p>
			</div>

			<div class="col-sm-3 mt-5">
					<p>Winning the University of the Year and Best Student Support at the 2022 Whatuni Student Choice Awards – the only UK awards voted for by students – we specialise in degrees like nursing and computing, as well as finance and accounting, sport, education, tourism, hospitality and creative services. Recently, we expanded our portfolio into STEM subjects such as sustainable engineering and construction</p>
			</div>

			<div class="col-sm-3 mt-5" style="background-color: #efddee;">
					<p>Winning the University of the Year and Best Student Support at the 2022 Whatuni Student Choice Awards – the only UK awards voted for by students – we specialise in degrees like nursing and computing, as well as finance and accounting, sport, education, tourism, hospitality and creative services. Recently, we expanded our portfolio into STEM subjects such as sustainable engineering and construction</p>
			</div>

			<div class="col-sm-3 mt-5">
					<p>Winning the University of the Year and Best Student Support at the 2022 Whatuni Student Choice Awards – the only UK awards voted for by students – we specialise in degrees like nursing and computing, as well as finance and accounting, sport, education, tourism, hospitality and creative services. Recently, we expanded our portfolio into STEM subjects such as sustainable engineering and construction</p>
			</div>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col">
			<img src="/images/matrc.jpg" alt="img" style="height:100%; width:100%" />
		</div>
		<div class="col">
			<img src="/images/matr.jpeg" alt="img" style="height:100%; width:100%" />
		</div>
		<div class="col">
			<img src="/images/commed.webp" alt="img" style="height:100%; width:100%" />
		</div>
		<div class="col">
			<img src="/images/conv.jpg" alt="img" style="height:100%; width:100%" />
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col mt-4" style="background-color: #b8f0f1;">
				<p>Winning the University of the Year and Best Student Support at the 2022 Whatuni Student Choice Awards – the only UK awards voted for by students</p>
			</div>
			<div class="col mt-4" style="background-color: #b8f0f1;">
				<p>Winning the University of the Year and Best Student Support at the 2022 Whatuni Student Choice Awards – the only UK awards voted for by students</p>
			</div>
			<div class="col mt-4" style="background-color: #b8f0f1;">
				<p>Winning the University of the Year and Best Student Support at the 2022 Whatuni Student Choice Awards – the only UK awards voted for by students</p>
			</div>
			<div class="col mt-4" style="background-color: #b8f0f1;">
				<p>Winning the University of the Year and Best Student Support at the 2022 Whatuni Student Choice Awards – the only UK awards voted for by students</p>
			</div>
			<div class="col mt-4" style="background-color: #b8f0f1;">
				<p>Winning the University of the Year and Best Student Support at the 2022 Whatuni Student Choice Awards – the only UK awards voted for by students</p>
			</div>
			<div class="col mt-4" style="background-color: #b8f0f1;">
				<p>Winning the University of the Year and Best Student Support at the 2022 Whatuni Student Choice Awards – the only UK awards voted for by students</p>
			</div>
		</div>
	</div>
