
@{
    ViewData["Title"] = "Library";
}


<div class="justify-content-between" style="height:38px;"><Strong>UNIVERSITY LIBRARY</Strong></div>

<div class="carousel slide m-0" data-bs-ride="carousel" id="emuc">

	<ul class="carousel-indicators">
		<li class="active" data-target="#emuc" data-slide-to="0"></li>
		<li data-target="#emuc" data-slide-to="1"></li>
		<li data-target="#emuc" data-slide-to="2"></li>
		<li data-target="#emuc" data-slide-to="3"></li>
	</ul>

	<div class="conainer-sm carousel-inner">
		<div class="carousel-item active">
			<img src="/images/lib.webp" alt="school lib1" height="400" width="1200">
			<div class="carousel-caption" id="">
				<h1>EMIRATE UNIVERSITY COLLEGE LIBRARY</h1>
		
			</div>
		</div>

		<div class="carousel-item">
			<img src="/images/libs1.jpg" alt="school env1" height="400" width="1200">
			<div class="carousel-caption" id="">
				<h1>EMIRATE UNIVERSITY COLLEGE LIBRARY</h1>
				
			</div>
		</div>

		<div class="carousel-item">
			<img src="/images/lib2.jpeg" alt="school lib" width="1200" height="400">
			<div class="carousel-caption" id="">
				<h1>EMIRATE UNIVERSITY COLLEGE LIBRARY</h1>
				
			</div>
		</div>

		<div class="carousel-item">
			<img src="/images/unylib.jpg" alt="school lib" height="400" width="1200">
			<div class="carousel-caption" id="">
				<h1>EMIRATE UNIVERSITY COLLEGE LIBRARY</h1>
				
			</div>
		</div>
	</div>

	<a href="#emuc" class="carousel-control-prev" role="button" data-slide="prev">
		<scan class="carousel-control-prev-icon"></scan>
	</a>
	<a href="#emuc" class="carousel-control-next" role="button" data-slide="next">
		<scan class="carousel-control-next-icon"></scan>
	</a>
</div>

<div>
	<p>
		<bold>Lorem ipsum dolor</bold> sit amet consectetur, adipisicing elit.
		Iusto explicabo earum illo laboriosam nostrum, dicta nobis atque
		eveniet culpa reprehenderit tenetur facere ducimus maiores rerum!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dicta
		saepe exercitationem natus accusantium fugit? Ipsum et voluptatum
		quidem exercitationem ullam minima ab quae facere eius dolores,
		fugiat laborum accusamus?
	</p>
	<p>
		<bold>Lorem ipsum dolor</bold>sit amet consectetur, adipisicing elit.
		Iusto explicabo earum illo laboriosam nostrum, dicta nobis atque
		eveniet culpa reprehenderit tenetur facere ducimus maiores rerum!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dicta
		saepe exercitationem natus accusantium fugit? Ipsum et voluptatum
		quidem exercitationem ullam minima ab quae facere eius dolores,
		fugiat laborum accusamus?
	</p>
	<p>
		<bold>Lorem ipsum dolor</bold> sit amet consectetur, adipisicing elit.
		Iusto explicabo earum illo laboriosam nostrum, dicta nobis atque
		eveniet culpa reprehenderit tenetur facere ducimus maiores rerum!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dicta
		saepe exercitationem natus accusantium fugit? Ipsum et voluptatum
		quidem exercitationem ullam minima ab quae facere eius dolores,
		fugiat laborum accusamus?
	</p>
</div>

<div class="row my-5">
	<div class="col">
		<h3>ICT Library Facility</h3>
		<img src="/images/ictlib.jpeg" alt="ICT LIBRARY" style="width:100%; height:100%" />
	</div>
	<div class="col">
		<h3>ICT Library Facility</h3>
		<img src="/images/cmplibr.jpg" alt="ICT LIBRARY" style="width:100%; height:100%" />
	</div>
	<div class="col">
		<h3>ICT Library Facility</h3>
		<img src="/images/complb.jpg" alt="ICT LIBRARY" style="width:100%; height:100%" />
	</div>
</div>

	<div>
		<p>
			<bold>Lorem ipsum dolor</bold> sit amet consectetur, adipisicing elit.
			Iusto explicabo earum illo laboriosam nostrum, dicta nobis atque
			eveniet culpa reprehenderit tenetur facere ducimus maiores rerum!
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dicta
			saepe exercitationem natus accusantium fugit? Ipsum et voluptatum
			quidem exercitationem ullam minima ab quae facere eius dolores,
			fugiat laborum accusamus?
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit.
			Iusto explicabo earum illo laboriosam nostrum, dicta nobis atque
			eveniet culpa reprehenderit tenetur facere ducimus maiores rerum!
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dicta
			saepe exercitationem natus accusantium fugit? Ipsum et voluptatum
			quidem exercitationem ullam minima ab quae facere eius dolores,
			fugiat laborum accusamus?
		</p>
	</div>


<div class="row my-5">
	<div class="col">
		<h3>DEPT Library Facility</h3>
		<img src="/images/dept lib.jpeg" alt="dept LIBRARY" style="width:100%; height:100%" />
	</div>
	<div class="col">
		<h3>DEPT Library Facility</h3>
		<img src="/images/deptlb.jpg" alt="dept LIBRARY" style="width:100%; height:100%" />
	</div>
	<div class="col">
		<h3>DEPT Library Facility</h3>
		<img src="/images/deptlib.jpeg" alt="dept LIBRARY" style="width:100%; height:100%" />
	</div>
</div>